@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    margin: auto;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin: auto;
}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: auto;
    background: #eeeaea;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.titulo{ 
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: black;
    margin-left: 3%;
    margin-right: 3%;
    text-shadow: 2px 2px 4px #ededed;
    margin-bottom: 2%;
}
/* botoes */
button {
    border: 1.5px solid whitesmoke ;
    border-radius: 10px;
    padding: 0.65rem;
    cursor: pointer;
    width: 100px;
    padding: 0.8%;
    text-align: center;
    display: inline;
    margin-bottom: 1%;
    margin-left: 2%;
}
h1, h2 ,p{
    font-family: 'Roboto', sans-serif;
}
section {
    width: 100%;
    margin: auto;
}
h1, section, article {
    margin-bottom: 1rem;
    padding-bottom: 2%;
}

/* botao */
#btlight {
    background: #ededed;
    color: #121212;
    border: 2px solid black ;
}
#btdark {
    background-color: #263238;
    color: #fff;
    border: 2px solid whitesmoke ;
}
#btpink {
    background-color: #fc6998;
    color: #121212;
    border: 2px solid #fa3e79 ;
}
#btpurple{
    background-color: #f10ae6;
    color: white;
    border: 2px solid #960070 ;
}

/* Estilos para serem usados via JS */
.light {
    background: #fff;
    color: #191919;
    text-shadow: 2px 2px 4px #c7bebe;
    font-size: 1.4em;
}
.dark {
    background: #222;
    color: #fff;
    text-shadow: 2px 2px 4px #ededed;
    font-size: 1.4em;
}
.pink{
    background-color: #fc6998;
    color: #fa3e79;
    text-shadow: 2px 2px 4px #ededed;
    font-size: 1.4em;
}
.purple{
    background: #eb01df;
    color: #ac0381;
    text-shadow: 2px 2px 4px #ededed;
    font-size: 1.4em;
}

/* articles com a class box */
.box {
    padding: 0.625rem;
    border-radius: 8px;
}